h1{
    color:blue
    
}
a{
    color:coral

}
.header{
    border:2px solid;
    border-color:black;
    background-color:black;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
    padding:15px;
}
.origami{
    border:3px solid #ff7f50;
    border-radius: 80px;
    justify-content: space-evenly;
    padding:5px;
    margin:3px;
    justify-content: center;
    justify-content: space-between;
    background-color: #ffa07a;
}
.grid{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
justify-content: center;
margin:10px;

}
*{
    
}

a:link{
    color:blue;
}
a:visited{
    color:coral;
}
a:hover img{
    transform:scale(1.1);
    opacity:.7;
}
body{
    margin:0px;
    background-color: #e0ffff;
}
.bodyimg{
    border:2px solid;
    border-color:blue;
    background-color:rgba(0, 0, 255, 0.3);
    padding-bottom: 20px;
    margin-bottom:20px;
    padding:0px;
    background-image: url("https://thumbs.gfycat.com/CreativeRequiredLadybird-size_restricted.gif");
    background-size:contain

}